
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');
*,*::after,*::before{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    line-height: 1.3;
}

:root{
    --background-color: #000814;
    --padding-header:  1rem .8rem;
    --font-size-larg: 1.4rem;
    --link-color: yellow;
    --text-color:rgb(184, 181, 236);

}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    background-color: var(--background-color);
    color: white;
    overflow-x: hidden;
}
.container{
    width: 85%;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;

}

.header{
    width: 100%;
    padding: var(--padding-header);
    position: fixed;
    z-index: 999;
    top: 0;

}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.logo .img-logo{
    width: 4rem;
    border-radius: 50%;
    background-color: rgb(52, 50, 50);
    overflow: hidden;
    aspect-ratio: 1/1;
}
.logo img{
    width: 100%;
}
.logo .campany-name{
    text-align: center;
    text-transform: uppercase;
    color: var(--link-color);
    font-size: var(--font-size-larg);
    font-weight: bold;
}

.nav-menu{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.nav-menu .nav-item:hover{
    cursor: pointer;
    transform: scale(.9);
    transition: .3s ease;
    padding: .5rem;
}

.nav-item a{
    color: var(--link-color);
    font-weight: bold;
    font-size: 1rem;
}
.toggle{
   font-size: 2rem;
   align-self: center;
   justify-self: center;
   cursor: pointer;
   display: none;
}
.toggle:hover{
    transform: scale(.9);
    transition: all 300ms ease;
}
.nav-menu.active{
    display: block;
    position: absolute;
    background-color: rgb(95, 4, 4);
    top: 15%;
    width: 100%;
    justify-content: center;
    transform: translate(40deg ) rotate(3deg);
    transition: all 300ms ease;
    border-radius: 1rem;
    z-index: 20;
}

.nav-menu.active li{
    padding: 1rem;

}

/* main body */

main{
    z-index: -1;
    width: 100%;
    min-height: 100vh;
    background: url('../images/dark-background.jpg') no-repeat center center/cover ;
}
.main-content{
    display: block;
    padding-block: 3rem;
}
.main-content h1{
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.4;
    text-align: center;
    animation: anime 3s ease-in-out;
}
.main-content p{
    width: 80%;
    margin: 2.5rem auto;
    line-height: 2.5rem;
    padding: 2rem 0;
    font-style: italic;


    /* text-align: center; */
}
.main-content a{
    background: yellow;
    padding: 1rem 2rem;
    text-align: center;
    color: black;
    border: 1px solid;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    transition: all 1s ease;

}
.main-content a:hover{
    cursor: pointer;
    background-color: rgb(185, 185, 8);
    color: white;
    font-weight: bold;
}
@keyframes pulse {
    0% { transform: scale(0.3); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }
  @keyframes anime{
    0% { transform: scale(0.3); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }
  a {
    animation: pulse 2s ease-in-out ;
  }
  .main-content a{
    margin: 0 40%;
}


@media screen and (max-width: 767px) {
    .toggle{
        display: block;
    }
    .nav-menu{
        display: none;
    }
    .main-content h1{
        font-size: 1.8rem;
        margin: .8rem 0;

    }
    .main-content p{
        font-size: .9rem;
    }
    .main-content a{
        margin: 0 20%;
    }


}
