
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');
*,*::after,*::before{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    line-height: 1.3;

}

:root{
    --background-color: #000814;
    --padding-header:  1rem .8rem;
    --font-size-larg: 1.4rem;
    --link-color: yellow;
    --text-color:rgb(184, 181, 236);
    --card-background: rgba(49, 93, 227, 0.6);

}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    background-color: var(--background-color);
    color: white;
    overflow-x: hidden;
}
h3{
    /* color: rgb(107, 0, 128); */
}
.container{
    width: 85%;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;

}

.header{
    width: 100%;
    padding: var(--padding-header);
    position: fixed;
    z-index: 999;
    top: 0;

}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.logo .img-logo{
    width: 4rem;
    border-radius: 50%;
    background-color: rgb(52, 50, 50);
    overflow: hidden;
    aspect-ratio: 1/1;
}
.logo img{
    width: 100%;
}
.logo .campany-name{
    text-align: center;
    text-transform: uppercase;
    color: var(--link-color);
    font-size: var(--font-size-larg);
    font-weight: bold;
}

.nav-menu{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.nav-menu .nav-item:hover{
    cursor: pointer;
    transform: scale(.9);
    transition: .3s ease;
    padding: .5rem;
}

.nav-item a{
    color: var(--link-color);
    font-weight: bold;
    font-size: 1rem;
}
.toggle{
   font-size: 2rem;
   align-self: center;
   justify-self: center;
   cursor: pointer;
   display: none;
}
.toggle:hover{
    transform: scale(.9);
    transition: all 300ms ease;
}
.nav-menu.active{
    display: block;
    position: absolute;
    background-color: rgb(95, 4, 4);
    top: 15%;
    width: 100%;
    justify-content: center;
    transform: translate(40deg ) rotate(3deg);
    transition: all 300ms ease;
    border-radius: 1rem;
    z-index: 20;
}

.nav-menu.active li{
    padding: 1rem;

}

/* main body */

main{
    z-index: -1;
    width: 100%;
    min-height: 100vh;
    background: url('../images/dark-background.jpg') no-repeat center center/cover ;
}
.main-content{
    display: block;
    padding-block: 3rem;
}
.main-content h1{
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.4;
    text-align: center;
    animation: anime 3s ease-in-out;
}
.main-content p{
    width: 80%;
    margin: 2.5rem auto;
    line-height: 2.5rem;
    padding: 2rem 0;
    font-style: italic;


    /* text-align: center; */
}
.main-content a{
    background: yellow;
    padding: 1rem;
    text-align: center;
    color: black;
    border: 1px solid;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    transition: all 1s ease;

}
.main-content a:hover{
    cursor: pointer;
    background-color: rgb(185, 185, 8);
    color: white;
    font-weight: bold;
}
@keyframes pulse {
    0% { transform: scale(0.3); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }
  @keyframes anime{
    0% { transform: scale(0.3); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }
  a {
    animation: pulse 2s ease-in-out ;
  }
  .main-content a{
    margin: 0 40%;
}

/* section address */

.company-address h4{
    display: block;
    text-align: center;
    padding-bottom: 1rem;
    line-height: 2rem;
    font-size: 1.7rem;
    color: var(--link-color);
    text-transform: uppercase;
}
.card-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: .5rem;
    border-radius: 1rem;
    background-color: rgba(0,0,0,.3);
    padding: 1rem;
    animation: anime 3s ease-in-out;
}
.card-images{
    margin: 0 auto;
   border-radius: 1.2rem;
    overflow: hidden;
}
.card-images img{
    width: 100%;

}
.card h3{
    text-transform: uppercase;
    padding-bottom: 1rem;
}
.card .campany-address{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}
.campany-address .district-sector{
    display: block;
    padding-block: 1rem;
}

.district-sector small{
    display: block;
    line-height: 1.4rem;
}
/* card staff */

.staff{
    width: 98%;
    margin: 0 auto;
}
.staff h4{
    display: block;
    text-align: center;
    padding-bottom: 1rem;
    color: var(--link-color);
    line-height: 2rem;
    font-size: 1.7rem;
    text-transform: uppercase;

}
.personal-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.staff .card-staff{
    width: 48%;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.card-staff{
    animation: pulse 4s ease-in-out ;
    /* animation: anime 3s ease-in-out; */
    padding: 1rem;
    border-radius: 1rem;
    background: var(--card-background);
    /* background-color: rgba(0,0,0,.3);; */
}
.staff .card-staff .staff-image{
    width:60%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;

}

.staff .card-staff .staff-image img{
    width: 100%;

}

.staff .card-staff .staff-description{
    display: block;
    line-height: 1.4;
    padding-block: 1rem;
}
.staff-description .staff-title{
    font-size: .9rem;
    font-weight: bold;
    font-style: italic;
    padding: .3rem 0;
}
.staff-description small{
    font-style: italic;
    font-size: .8rem;
}

/* slide sections our proffessional staff */

.trainer-card{
    animation: pulse 4s ease-in-out ;
    border-radius: 1rem;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding:0 .6rem .6rem;
}

.image-card{
    width: 40%;
    background: var(--card-background);
    overflow: hidden;
    aspect-ratio: 1/1;
    border-radius: 1rem;
}
.image-card img{
    width: 100%;
}

.trainer{
    background-color: var(--card-background);
    display: block;
    padding-block: 1rem;
    width: 100%;
    border-radius: 1rem;
    transition: all 3s ease-in-out;
    transform: rotate(360deg);
    margin: 2rem 0;

}
.slide-icons{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.slide-icons i:hover{
    color: var(--link-color);
    transition: all 500ms ease-in-out;
    transform: scaleX(.7);
    transform: scaleY(.8);
}

.trainer-card img{
    width: 100%;
}


@media screen and (max-width: 767px) {
    .toggle{
        display: block;
    }
    .nav-menu{
        display: none;
    }
    .main-content h1{
        font-size: 1.8rem;
        margin: .8rem 0;

    }
    .main-content p{
        font-size: .9rem;
    }
    .main-content a{
        margin: 0 20%;

    }
    .company-address h4:after{
        left: 12rem;

    }
    .card-section{
        display: block;
        text-align: center;
    }
    .staff .card-staff{
        display: flex;
        width: 90%;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        padding: 0.2rem;
    }
    .staff .card-staff .staff-description{
        text-align: center;

    }
    .staff .card-staff .staff-image{
        width: 60%;
    }



}